Source: ubuntu-push-client
Section: net
Priority: optional
Maintainer: John Lenton <john.lenton@canonical.com>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go,
               libwhoopsie-dev,
               gocheck-dev,
               go-dbus-dev,
Standards-Version: 3.9.5
Homepage: http://launchpad.net/usensord
Vcs-Bzr: lp:ubuntu-push
Vcs-Browser: http://bazaar.launchpad.net/~ubuntu-push-hackers/ubuntu-push/trunk/files

Package: ubuntu-push-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ubuntu Push Notifications client-side daemon
 The Ubuntu Push Notifications client-side daemon.
