Source: ubuntu-push
Section: net
Priority: optional
Maintainer: John Lenton <john.lenton@canonical.com>
Build-Depends: debhelper (>= 9),
               dh-golang,
               dh-exec (>= 0.3),
               golang-go,
               libwhoopsie-dev,
               libglib2.0-dev (>= 2.31.6),
               libgcrypt11-dev,
               gocheck-dev,
               go-dbus-dev,
               golang-go-xdg-dev,
Standards-Version: 3.9.5
Homepage: http://launchpad.net/ubuntu-push
Vcs-Bzr: lp:ubuntu-push
Vcs-Browser: http://bazaar.launchpad.net/~ubuntu-push-hackers/ubuntu-push/trunk/files

Package: ubuntu-push-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, network-manager, url-dispatcher, notification-daemon
Built-Using: ${misc:Built-Using}
Description: Ubuntu Push Notifications client-side daemon
 The Ubuntu Push Notifications client-side daemon.

Package: golang-ubuntu-push-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Ubuntu Push Notifications client-side daemon
 The Ubuntu Push Notifications client-side daemon library.
 .
 This package contains the source.
