#!/usr/bin/make -f
# -*- makefile -*-

export DH_GOPKG := launchpad.net/ubuntu-push
export DEB_BUILD_OPTIONS := nostrip
export UBUNTU_PUSH_TEST_RESOURCES_ROOT := $(CURDIR)

%:
	dh $@ --buildsystem=golang --with=golang
